.community {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    padding-top: 7%;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    border-radius: 0 0 3rem 3rem;
    background-color: #051321;
}


.community * {
    margin: 1rem 0 1rem 0;
}

.community h2 {
    color: #FBFBFC;
    font-weight: 700;
    font-size: 2.6rem;
}

.community p {
    width: 80%;
    color: #FBFBFC;
    font-size: .8em;
    margin: 0 auto 1rem auto;
}

.enter {
    width: 20%;
    border: none;
    padding: .7em;
    margin: .5rem;
    color: #FBFBFC;
    border-radius: 3rem;
    background: linear-gradient(0.30turn, #7D4CFF, #4973FF, #125ba9);
}

.button button[id='active'] {
    width: 20%;
    border: none;
    padding: .7em;
    margin: .5rem;
    color: #224fe1;
    border-radius: 3rem;
    background-color: #FBFBFC;
}

#active:hover {
    color: #FBFBFC;
    transition: .2s ease;
    background: linear-gradient(0.30turn, #125ba9, #4973FF, #7D4CFF);
}


.register {
    height: 60vh;
    display: flex;
    color: #FBFBFC;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #051321;
    border-radius: 0 0 3rem 3rem;
}

.register button {
    width: 15%;
    border: none;
    margin: 1rem;
    padding: .9em;
    color: #FBFBFC;
    border-radius: 3rem;
    background: linear-gradient(0.25turn, #7D4CFF, #4973FF, #125ba9);
}

.register * {
    margin: 1rem 0;
}