:root {

  /* Colors */

  --footer-bg: #0C223A;
  --section-bg: #051321;
  --gray-color: #7F8995;
  --white-color: #FBFBFC;
  --lg_gray-color: #DFDEDE;
  --blue-color: rgb(74, 116, 255);
  --purple-color: rgb(125, 76, 255);

  /* Font Family */
  --primary-font: 'Roboto';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ajuste del standar*/

body {
  background-color: rgb(28, 28, 94);
}

/* Footer */

.footer {

  display: flex;
  background-color: #0C223A;
  justify-content: space-around;
  font-family: 'Roboto';
}

.caja1 img {

  width: 7.2%;
}

.caja1 {


  color: #FBFBFC;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #0C223A;
  justify-content: center;
  align-items: center;
  transition: 1s all;
  cursor: pointer;

}

.Caja1-logo {

  margin: 10px;
}

.footer-titulo {
  display: flex;
  justify-content: center;
  align-items: center;

}

h2 {
  font-size: 2rem;
}

.caja2 {
  display: flex;
  color: #7F8995;
  text-align: left;
  margin-bottom: 3rem;
  padding: 3rem;
  transition: 1s all;
  cursor: pointer;

}

h4 {
  color: #FBFBFC;

}

ul {
  list-style: none;

}

.caja2 ul li {


  text-align: left;
  padding: 0;
  margin: .5rem 0;
}

.caja2 ul {

  display: flex;
  flex-direction: column;
  list-style-position: outside;
  padding: 0;
  margin: 0;
}

.columnas {

  margin: 0 2rem;
}


.icons {

  margin-left: 5px;
  margin-top: 15px;



}


.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #FBFBFC;
}

.svg-icon circle {
  stroke: white;
  stroke-width: 1;
}

.copyright {

  padding-top: 3rem;
  font-size: 0.5rem;
  color: #7F8995
}

@media all and (min-width: 20em) and (max-width: 30em) {

  .footer {

    flex-direction: column;
    width: 100%;
    font-size: 0.75rem;


  }

  .caja2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;


  }

  .caja2 ul {
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    list-style-position: outside;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;

  }

  .caja2 ul li {


    text-align: center;


  }

  .copyright {

    padding: 1.5rem 0;
    font-size: 0.5rem;
    color: #7F8995
  }

}

@media all and (min-width: 30em) and (max-width: 48em) {

  .footer {

    display: flex;
    width: 100%;
    font-size: 0.75rem;


  }

  .caja2 {
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;


  }

  .caja2 ul {
    font-size: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    list-style-position: outside;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;

  }

  .caja2 ul li {


    text-align: left;



  }

  .copyright {

    padding: 1.5rem 0;
    font-size: 0.5rem;
    color: #7F8995
  }

  /* Classes */

  .who {
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--purple-color);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: linear-gradient(45deg, #7D4CFF, #4973FF, #125ba9);
    background: -moz-linear-gradient(45deg, #7D4CFF, #4973FF, #125ba9);
    background: -webkit-linear-gradient(45deg, #7D4CFF, #4973FF, #125ba9);
  }

  .who-gallery {
    gap: 1rem;
    width: 80%;
    height: 70%;
    display: grid;
    padding: 1rem;
    grid-auto-rows: 20%;
    grid-template-columns: repeat(6, 1fr);
  }

  .gallery__item {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .gallery__item:nth-child(1) {
    grid-row-start: span 3;
  }

  .gallery__item:nth-child(2) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-column-start: 2;
  }

  .gallery__item:nth-child(4) {
    grid-column-start: 3;
  }

  .gallery__item:nth-child(5) {
    grid-row-start: 1;
    grid-row-end: span 3;
    grid-column-start: 4;
    grid-column-end: 4;
  }

  .gallery__item:nth-child(6) {
    grid-row-start: 1;
    grid-row-end: span 3;
    grid-column-start: 5;
    grid-column-end: span 6;
  }

  .item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .item__title {
    bottom: 60%;
    position: relative;
  }

  /* Media Queries */

  @media all and (min-width: 31em) and (max-width: 48em) {
    .who-gallery {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .gallery__item {
      width: 40%;
      height: 20vh;
    }
  }

  @media all and (min-width: 20em) and (max-width: 30.99em) {

    /* Tags */

    .who {
      font-size: 0.75rem;
    }

    .who h2[class="item__title"] {
      font-size: 1rem;
    }

    .who-title {
      margin-bottom: 1.5rem;
    }

    .who-title h2 {
      margin: 1rem 0;
    }

    .who-title p {
      margin: auto;
      max-width: 90%;
    }

    /* tranqui..... */

    /* Classes */

    .who-gallery {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .gallery__item {
      width: 45%;
      height: 15vh;
    }
  }
}